<mat-toolbar color="primary">
    <mat-toolbar-row>
         <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" (click)="toggleSideBar()">
            
            <mat-icon>menu</mat-icon>
        </button>

        <span> App logo</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                <button mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button>
                </li>

                <li>
                    <button mat-icon-button>
                        <mat-icon>perm_phone_msg</mat-icon>
                    </button>
                </li>

                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="account">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                        <mat-menu #menu="matMenu">
                             <button mat-menu-item>
                                <mat-icon>exit_to_app</mat-icon>
                             Logout
                            </button>
                            
                        </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>